<div class="db dtc-ns black-70 tc tr-ns v-mid">
  <a href="https://www.facebook.com/" class="link dim dib mr3 black-70" title="Impossible Labs on Facebook">
    <img src='https://icon.now.sh/facebook/3B5998/32' alt='facebook icon' />
  </a>
  <a href="https://twitter.com/" class="link dim dib mr3 black-70">
    <img src='https://icon.now.sh/twitter/1DA1F2/32' alt='twitter icon' />
  </a>
  <a href="https://medium.com/" class="link dim dib mr3 black-70" title="Impossible Labs on Medium">
    <img src='https://icon.now.sh/medium/00AB6B/32' alt='medium icon' />
  </a>
  <a href="https://www.linkedin.com/company/" class="link dim dib black-70">
    <img src='https://icon.now.sh/linkedin/0077B5/32' alt='linkedin icon' />
  </a>
</div>
