<section class="cf mb5">
  {% if site.email %}
    <div class="mb4 mb0-ns w-100 w-50-l fr">
      <a class="black-70 f3-l f4-m f5-ns fw6 tl link dim dib pv3 mt2 mb4 mb0-l" href="mailto:{{ site.email }}" >
        {{ site.email }}
      </a>
    </div>
  {% endif %}

  <div class="mb4 mb0-ns fl w-100 w-50-l" >
    <p class="f4 fw6 mb2 f6 mt0">Sign up for our newsletter.</p>
    <input placeholder="Email Address" class="mw-100 w-100 w5-ns f5 input-reset ba b--black-20 pv3 ph4 border-box">
    <input type="submit" class="input-reset w-100 w-auto-ns bg-black-80 white f5 pv2 pv3-ns ph4 ba b--black-80 bg-hover-mid-gray">
  </div>
</section>
